<h1 class="text-3xl font-semibold text-gray-900">Edit Developer Profile</h1>

<%= form_with(model: @developer, local: true) do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :contact_info %>
    <%= f.text_area :contact_info %>
  </div>

  <div>
    <%= f.label :social_media_links %>
    <%= f.text_area :social_media_links %>
  </div>

  <div>
    <%= f.label :degree %>
    <%= f.text_field :degree %>
  </div>

  <div>
    <%= f.label :institution %>
    <%= f.text_field :institution %>
  </div>

  <div>
    <%= f.label :graduation_date %>
    <%= f.date_field :graduation_date %>
  </div>

  <div>
    <%= f.label :job_position %>
    <%= f.text_field :job_position %>
  </div>

  <div>
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>

  <div>
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div>

  <div>
    <%= f.label :responsibilities %>
    <%= f.text_area :responsibilities %>
  </div>

  <div>
    <%= f.label :project_description %>
    <%= f.text_area :project_description %>
  </div>

  <div>
    <%= f.label :live_demo_link %>
    <%= f.text_field :live_demo_link %>
  </div>

  <div>
    <%= f.label :project_screenshot %>
    <%= f.file_field :project_screenshot %>
  </div>

  <div>
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
